@font-face {
  font-family: 'SFProText';
  src: url('app/fonts/SFProText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('app/fonts/Inter-Regular.ttf') format('truetype');
}

* {
  -webkit-user-select: none;
  user-select: none;
}

html {
  font-size: 10px;
  font-family: 'SFProText', serif;
}
.header {
  margin:3.9rem 0 0.4rem 1.2rem;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Inter', serif;
}

body {
  /*background: linear-gradient(to left,#262D6D,#68218A);*/
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  border-radius: 1.8rem 1.8rem 0 0;
  background: white;
}

.title {
  text-align: center;
  color: #1677ff;
  font-size: 1.5rem;
  font-weight: normal;
}
.tabs {
  margin: 0 1.2rem 0;
  padding-top: 2.4rem;
  --title-font-size: '1.5rem';
  --content-padding: '0';
}
.dialog {
  font-size: 1.5rem;
}
.center {
  display: flex;
  justify-content: center;
}
